.App-header {
    background-color: var(--main-dark);
    height: auto;
    padding: 1.5em;
    padding-left: 2.5em;
    color: white;
    width: 100%;
}

.App-intro {
    font-size: medium;
    background-color: white;
}

.App-honors {
    font-size: medium;
    background-color: var(--main-grey);
    color: white;
    width: 100%;
}
