.App-topbar .navbar {
    background-color: var(--main-dark);
    width: 100%;
    position: fixed;
    top: 0; /* Stay on top */
    transition: top 0.3s;
    z-index: 5;
}

.App-topbar .navbar img {
    height: 1.5em;
    width: 1.5em;
}

.App-topbar .navbar-toggler {
    border: none;
    outline: none;
}

.App-topbar .nav .nav-item a {
    color: var(--main-blue);
}

.App-topbar .nav .nav-item a:active {
    color: var(--main-blue);
}
