body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

:root {
    --main-dark: #222;
    --main-blue: #5096D8;
    --main-grey: #7F8B94;
    --main-wgrey: #D3D3D3;
    --main-white: #FFFFFF;
}
