body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

:root {
    --main-dark: #222;
    --main-blue: #5096d8;
    --main-grey: #7f8b94;
    --main-wgrey: #d3d3d3;
    --main-white: #ffffff;
    --header-pad: 1.5em;
}
